{% extends 'listings/base.html' %}

{% block content %}

<h1>Liste des annonces pour le groupe {{ band.name }}</h1>
</ul>
{% if band_listings|length == 0 %}
<p>Il n'y a aucun objet actuellement en vente pour ce groupe</p>
{% else %}
<p>Il y a {{ band_listings|length }} objets en vente pour ce groupe</p>
<p>Les objets en vente sont :</p>
  <ul>
        {% for listing in band_listings %}
                <li>
                    <a href="{% url 'listing-detail' listing.id %}">{{ listing.title }}</a>
                    - <a href="{% url 'listing-update' listing.id %}">[Modifier]</a>
                </li>
        {% endfor %}
  </ul>
{% endif %}

<a href="{% url 'band-detail' band.id %}">Retour à la page du groupe</a>

{% endblock %}
