<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Merchex</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'listings/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
</head>
    <body>
        <nav>
            <a href="{% url 'band-list' %}">Groupes</a>
            <a href="{% url 'listing-list' %}">Annonces</a>
            <a href="{% url 'about' %}">À propos</a>
            <a href="{% url 'contact' %}">Contact</a>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>