{% extends 'listings/base.html' %}

{% block content %}

<h2>{{ listing.title }}</h2>
<h3>Groupe : {{ listing.band.name }}</h3>

<ul>
  <li>Type : {{ listing.get_type_display }}</li>
  {% if listing.year %}
  <li>Année : {{ listing.year }}</li>
  {% endif %}
  {% if listing.sold|yesno == 'yes' %}
  <li>Vendu</li>
  {% else %}
  <li>A vendre</li>
  {% endif %}
</ul>

<p>{{ listing.description }}</p>

<a href="{% url 'band-listing-list' band.id %}">Retour à toutes les annonces de ce groupe</a>
<br>
<a href="{% url 'listing-update' listing.id %}">Modifier l'annonce</a>
<br>
<a href="{% url 'listing-delete' listing.id %}">Supprimer l'annonce</a>

{% endblock %}